html {
    background-color: lightblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(32, 204, 110);
}

li {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
}

a:link {
    color: white;

}

a:visited {
    color: darkred;
}

a:hover {
    color: red;
}

a:active {
    color: purple;
}