html {
    background-color: lightblue;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 36pt;
    color: brown;
}

h1 img {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

h2 {
    font-size: 26pt;
    color: brown;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(32, 204, 110);
    font-size: 14pt;
}

nav li {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 100px;
}

aside ol {
    position: fixed;
    text-align: center;
    list-style-type: upper-roman;
    top: 250px;
    right: 50px;
    border: 3px solid black;
    padding: 10px 30px;
    font-size: 12pt;
}

aside ol li {
    margin: 10px 0;
}

p {
    font-size: 13pt;
}

caption {
    font-size: 18pt;
    color: brown;
}

th {
    font-size: 14pt;
}

figure img {
    position: relative;
    border: 4px dotted rgb(28, 180, 97);
    border-radius: 5px;
}

table, th, td {
    border: 2px solid black;
    text-align: center;
    width: 300px;
    height: 25px;
}

table {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../AnimalShowdown/Images/Cartoon_Cat.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.maine_coon_table {
    position: absolute;
    right: 250px;
    top: 550px;
}

.bengal_table {
    position: absolute;
    right: 250px;
    top: 1200px;
}

.scottish_fold_table {
    position: absolute;
    right: 250px;
    top: 1880px;
}

a:link {
    color: purple;

}

a:visited {
    color: darkred;
}

a:hover:not(.cat) {
    background-color: white;
    padding: 21px 0;
}

a:active {
    color: blueviolet;
}