html {
    background-color: lightblue;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(32, 204, 110);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

nav li {
    position: sticky;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 100px;
}

aside ol {
    position: absolute;
    text-align: center;
    list-style-type: upper-roman;
    right: 50px;
    border: 2px solid black;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

aside ol li {
    margin: 10px 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.mainecoon {
    border: 4px dotted rgb(28, 180, 97);
    border-radius: 5px;
}

table {
    position: absolute;
    right: 400px;
    top: 330px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    width: 300px;
    height: 25px;
}

a:link {
    color: purple;

}

a:visited {
    color: darkred;
}

a:hover:not(.cat) {
    background-color: white;
}

a:active {
    color: blueviolet;
}