html {
    background-color: lightblue;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 36pt;
    color: brown;
}

h1 img {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

h2 {
    font-size: 26pt;
    color: brown;
}

nav ul {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(32, 204, 110);
    font-size: 14pt;
}

nav li {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 100px;
}

aside ol {
    position: fixed;
    text-align: center;
    list-style-type: upper-roman;
    top: 250px;
    right: 50px;
    border: 3px solid black;
    padding: 10px 30px;
    font-size: 12pt;
}

aside ol li {
    margin: 10px 0;
}

p {
    font-size: 13pt;
}

caption {
    font-size: 18pt;
    color: brown;
}

th {
    font-size: 14pt;
}

figure img {
    position: relative;
    border: 4px dotted rgb(28, 180, 97);
    border-radius: 5px;
}

figure {
    position: relative;
}

table, th, td {
    border: 2px solid black;
    text-align: center;
    width: 300px;
    height: 25px;
}

.stat_table {
    position: absolute;
    right: 280px;
    top: 50px;
}

figcaption {
    position: absolute;
    top: 435px;
    left: 10px;
}

.scottishfoldbottom {
    position: absolute;
    top: 535px;
    left: 10px;
}

article {
    position: relative;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

a:link {
    color: purple;

}

a:visited {
    color: darkred;
}

a:hover:not(.cat) {
    background-color: white;
    padding: 21px 0;
}

a:active {
    color: blueviolet;
}

section p::first-letter {
    font-size: 20pt;
    color: brown;
}

footer {
    border-top: 2pt solid black;
}

footer p {
    font-size: 10pt;
}