header, footer {
    color:rgb(255, 255, 0);
    background-color: #041d6e;
}
nav {
    background-color: rgb(164, 165, 165);
    color: white;
}
h1, h2 {
    font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}
body {
    font-family: Georgia, Cambria, "Times New Roman", serif;
}
#reviews {
    border-bottom: solid 3pt #041d6e;
    color: rgb(255, 255, 0);
}