html {
    background-color: white;
}

body {
    display: grid;
    grid-template-rows: repeat(7,auto);
    grid-gap: 5em;
    max-height: 1000px;
}

.container {
    background-color: lightgrey
}

#part2 {
    grid-row-start: 2;
}

#part3 {
    grid-row-start: 3;
    text-align: center;
}

#part4 {
    grid-row-start: 4;
    margin: 50px 0px;
    border-bottom: 2px solid #041d6e;
}

#part5 {
    grid-row-start: 5;
    margin: 50px 0px;
    border-bottom: 2px solid #041d6e;
}

#part6 {
    grid-row-start: 6;
    margin: 50px 0px;
    border-bottom: 2px solid #041d6e;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

#about {
    font-size: 13pt;
    text-align: center;
    color: yellow;
}

header {
    display: grid;
    grid-row-start: 1;
    grid-template-columns: 1fr repeat(3, auto) 1fr;
    justify-items: center;
    align-items: center;
}

header img {
    grid-column-start: 2;
    margin: 0.8em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    font-size: 1.5em;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}


.information {
    display: grid;
    margin-top: -2em;
    grid-gap: 2em;
    grid-template-rows: auto auto 1fr;
    background-color: #575757;
}

.title {
    display: flex;
    justify-content: center;
}

.page-info {
    margin-top: -2em;
    display: flex;
    justify-content: center;
}

.guiltyanimals {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    padding-bottom: 3em;
}

.suspects {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.suspectpic {
    display: flex;
    justify-content: center;
    grid-row-start: 2;
}

.suspectname {
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    padding-left: 10px;
}

.suspectinfo {
    display: flex;
    font-size: 1em;
    grid-column-start: 2;
    grid-row-start: 2;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 10px -10px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 30pt;
    color: black;
    text-decoration: underline;
}

h1,h2 {
    color: yellow;
}

nav div a {
    text-align: center;
}

a:visited {
    color: white;
}

a:link {
    color: rgb(65, 140, 165);
}

a:active {
    color: black;
}

footer p {
    display: flex;
    justify-content: center;
    font-size: 10pt;
    color: yellow;
}

header {
    background-color:#041d6e;
    position: relative;
}

footer {
    background-color: #575757;
    border-top: 2pt solid #041d6e;
}

.guiltyanimals:hover {
    opacity: 1;
}

form div {
    font-size: 10pt;
}

form {
    border: 1px solid black;
    padding: 15px;
    font-size: 14pt;
    background-color: rgb(165, 165, 165);
}

#form1 {
    color: black;
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

#part7 {
    grid-row-start: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border-bottom: 2px solid #041d6e;
}

#part8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

span input {
    cursor: pointer;
}

input:hover, input:focus {
    outline: 2px solid blue;
}

textarea:hover, textarea:hover {
    outline: 2px solid blue;
}

span input:focus {
    text-decoration: underline;
    background: lightblue;
}

.hidden {
    font-size: 1em;
    top: -500px;
    position: absolute;
    overflow: hidden;
}

li a:focus, li a:hover {
    border: 2px solid yellow;
    background-color: lightblue;
    color: black;
}

.hidden:focus {
    color: white;
    outline: 2px solid yellow;
    top: 20px;
    float: left;
    overflow: initial;
    z-index: 1;
}

@media screen and (min-width: 901px) {

    .container {
        margin-left: auto;
        margin-right: auto;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #part4 {
        grid-row: 1;
        grid-column: 1;
        margin: 25px 5px;
        border-right: 2px solid #041d6e;
    }

    #part5 {
        grid-row: 1;
        grid-column: 2;
        margin: 25px 5px;
        border-left: 2px solid #041d6e;
    }

    #part6 {
        grid-row: 2;
        grid-column: 1;
        margin: 25px 5px;
        border-right: 2px solid #041d6e;
    }

    #part7 {
        grid-row: 2;
        grid-column: 2;
        margin: 25px 5px;
        border-left: 2px solid #041d6e;
    }

    #resize {
        width: 350px;
        height: 350px;
    }
}

@media screen and (min-width: 500px) and (max-width: 900px) {

    main {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr;
    }

    #part4 {
        grid-row: 1;
        grid-column: 1;
        margin: 25px 5px;
        border-right: 2px solid #041d6e;
    }

    #part5 {
        grid-row: 1;
        grid-column: 2;
        margin: 25px 5px;
        border-left: 2px solid #041d6e;
    }

    #part6 {
        grid-row: 2;
        grid-column: 1;
        margin: 25px 5px;
        border-right: 2px solid #041d6e;
    }

    #part7 {
        grid-row: 2;
        grid-column: 2;
        margin: 25px 5px;
        border-left: 2px solid #041d6e;
    }

    #resize {
        width: 320px;
        height: 320px;
    }
}
