html {
    background-color: white;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 13pt;
}

header h1 {
    font-size: 36pt;
    position: relative;
    left: 50px;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 24pt;
    color: black;
}

h1,h2 {
    color: rgb(255, 255, 0);
}

h1 img {
    position: absolute;
    left: -100px;
}

nav ul {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(164, 165, 165);
    font-size: 14pt;
}

nav li {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 100px;
}

a:visited {
    color: rgb(83, 10, 83);
}

a:link {
    color: rgb(151, 220, 243);
}

a:hover:not(.nohover) {
    background-color: white;
    padding: 21px 0;
}

a:active {
    color: black;
}

footer p {
    font-size: 10pt;
    color: yellow;
}
header {
    background-color:#041d6e;
    position: relative;
}

footer {
    background-color: rgb(164, 165, 165);
    border-top: 2pt solid #041d6e;
}

a.current:link {
    background-color: lightgrey;
    padding: 21px 0;
}

section p#about::first-letter {
    font-size: 20pt;
    color: #041d6e;
}

a[target="_blank"] {
    color: rgb(21, 190, 15);
}
