html {
    background-color: white;
}

body {
    display: grid;
    grid-template-rows: repeat(6,auto);
    grid-gap: 5em;
}

#part2 {
    grid-row-start: 2;
}

#part3 {
    grid-row-start: 3;
    text-align: center;
}

#part4 {
    grid-row-start: 4;
}

#part5 {
    grid-row-start: 5;
}

#part6 {
    grid-row-start: 6;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 13pt;
}

header {
    display: grid;
    grid-row-start: 1;
    grid-template-columns: 1fr repeat(3, auto) 1fr;
    justify-items: center;
    align-items: center;
}

header img {
    grid-column-start: 2;
    margin: 0.8em;
}

.dropdown-button {
    background-color: lightgrey;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    margin-right: auto;
    padding: 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 

.information {
    display: grid;
    margin-top: -2em;
    grid-gap: 2em;
    grid-template-rows: auto auto 1fr;
    background-color: rgb(164, 165, 165);
}

.title {
    display: flex;
    justify-content: center;
}

.page-info {
    margin-top: -2em;
    display: flex;
    justify-content: center;
}

.guiltyanimals {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    padding-bottom: 3em;
}

.suspects {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.suspectpic {
    display: flex;
    justify-content: center;
    grid-row-start: 2;
}

.suspectname {
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

.suspectinfo {
    display: flex;
    font-size: 1.2em;
    grid-column-start: 2;
    grid-row-start: 2;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 30pt;
    color: black;
    text-decoration: underline;
}

h1,h2 {
    color: yellow;
}

nav div a {
    text-align: center;
}

a:visited {
    color: rgb(83, 10, 83);
}

a:link {
    color: rgb(65, 140, 165);
}

a:active {
    color: black;
}

footer p {
    display: flex;
    justify-content: center;
    font-size: 10pt;
    color: yellow;
}

header {
    background-color:#041d6e;
    position: relative;
}

footer {
    background-color: rgb(164, 165, 165);
    border-top: 2pt solid #041d6e;
}

.guiltyanimals:hover {
    opacity: 1;
}

.dropdown-content a:hover {
    background-color: darkgrey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

section p#about::first-letter {
    font-size: 20pt;
    color: #041d6e;
}

a[target="_blank"] {
    color: rgb(21, 190, 15);
}
