html {
    background-color: white;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 13pt;
}

header h1 {
    font-size: 36pt;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 24pt;
}

h1,h2, h3 {
    color: rgb(255, 255, 0);
}

h1 img {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

nav ul {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(164, 165, 165);
    font-size: 14pt;
}

nav li {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 110px;
}

a:visited {
    color: purple;
}

a:link {
    color: blue;
}

a:hover:not(.cat,.dog) {
    background-color: white;
    padding: 21px 0;
}

a:active {
    color: black;
}

footer {
    border-top: 2pt solid black;
}

footer p {
    font-size: 10pt;
    color: yellow;
}
header, footer {
    background-color:#041d6e;
}

a.current:link {
    background-color: lightgreen;
    padding: 21px 0;
}
