aside {
    position: fixed;
    text-align: center;
    list-style-type: upper-roman;
    top: 250px;
    right: 30px;
    border: 3px solid black;
    background-color: rgb(164, 165, 165);
    padding: 10px 30px;
    font-size: 12pt;
    z-index: 1;
}

aside ol li {
    margin: 10px 0;
}

th {
    font-size: 14pt;
}

table, th, td {
    border: 2px solid black;
    text-align: center;
    width: 380px;
    height: 60px;
}

tr:nth-child(even) {
    background-color: lightgrey;
}
