html {
    background-color: lightblue;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 13pt;
}

header h1 {
    font-size: 36pt;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 24pt;
}

h1,h2, h3 {
    color: brown;
}

h1 img {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

nav ul {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(32, 204, 110);
    font-size: 14pt;
}

nav li {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 110px;
}

a:visited {
    color: darkred;
}

a:link {
    color: yellow;
}

a:hover:not(.cat) {
    background-color: white;
    padding: 21px 0;
}

a:active {
    color: black;
}

footer {
    border-top: 2pt solid black;
}

footer p {
    font-size: 10pt;
}