aside {
    position: fixed;
    text-align: center;
    list-style-type: upper-roman;
    top: 250px;
    right: 30px;
    border: 3px solid black;
    padding: 10px 30px;
    font-size: 12pt;
    z-index: 1;
}

aside ol li {
    margin: 10px 0;
}

caption {
    font-size: 18pt;
    color: brown;
}

th {
    font-size: 14pt;
}

figure img {
    position: relative;
    border: 4px dotted rgb(28, 180, 97);
    border-radius: 5px;
}

figure {
    position: relative;
}

table, th, td {
    border: 2px solid black;
    text-align: center;
    width: 380px;
    height: 60px;
}

.crimes_table {
    position: absolute;
    right: 280px;
    top: 30px;
}

figcaption {
    position: absolute;
    top: 435px;
    left: 10px;
}

.scottishfoldbottom {
    position: absolute;
    top: 535px;
    left: 10px;
}

article {
    position: relative;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

section p::first-letter {
    font-size: 20pt;
    color: brown;
}