th {
    font-size: 14pt;
}

table, th, td {
    border: 2px solid black;
    text-align: center;
    width: 380px;
    height: 60px;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

table {
    position: relative;
    left: 150px;
}