aside {
    position: fixed;
    text-align: center;
    list-style-type: upper-roman;
    top: 250px;
    right: 30px;
    border: 3px solid black;
    padding: 10px 30px;
    font-size: 12pt;
    z-index: 1;
}

aside ol li {
    margin: 10px 0;
}

header, footer {
    color:rgb(255, 255, 0);
    background-color: #041d6e;
}

h1, h2 {
    font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}
body {
    font-family: Georgia, Cambria, "Times New Roman", serif;
}
#reviews {
    border-bottom: solid 3pt #041d6e;
    color: rgb(255, 255, 0);
}