* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 30pt;
    color: black;
    text-decoration: underline;
}

h1,h2 {
    color: yellow;
}

.container {
    background-color: lightgrey;
}

.dropdown-button {
    background-color: lightgrey;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    margin-right: auto;
    padding: 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 

.information {
    display: grid;
    margin-top: -2em;
    grid-gap: 2em;
    grid-template-rows: auto auto 1fr;
    background-color: rgb(164, 165, 165);
}

.title {
    display: flex;
    justify-content: center;
}

#about {
    font-size: 13pt;
    text-align: center;
}

header {
    display: grid;
    grid-row-start: 1;
    grid-template-columns: 1fr repeat(3, auto) 1fr;
    justify-items: center;
    align-items: center;
}

header img {
    grid-column-start: 2;
    margin: 0.8em;
}

.page-info {
    margin-top: -2em;
    display: flex;
    justify-content: center;
}

form div {
    font-size: 9pt;
}

textarea {
    resize: none;
}

form {
    font-size: 14pt;
    border: 2px solid black;
    padding: 15px;
    background-color: rgb(164, 165, 165);

}

p input#login {
    margin: 0 0 0 40px;
}

#reset {
    margin: 0 0 0 100px;
}

section article h2 {
    color: black;
}

footer p {
    display: flex;
    justify-content: center;
    font-size: 10pt;
    color: yellow;
}

header {
    background-color:#041d6e;
    position: relative;
}

footer {
    background-color: rgb(164, 165, 165);
    border-top: 2pt solid #041d6e;
}

a:visited {
    color: rgb(83, 10, 83);
}

a:link {
    color: rgb(65, 140, 165);
}

.dropdown-content a:hover {
    background-color: darkgrey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

@media screen and (min-width:961px) {

    .container {
        margin: auto;
    }
}