html {
    background-color: lightblue;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 36pt;
    color: brown;
}

h1 img {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

nav ul {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(32, 204, 110);
    font-size: 14pt;
}

nav li {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 100px;
}

a:active {
    color: blueviolet;
}

a:visited {
    color: darkred;
}

a:link {
    color: purple;
}

a:hover {
    background-color: white;
    padding: 21px 0;
}